:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #000000; /* Fondo negro */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

/* Estilos para el tema camaleón */
.theme-dark {
  --main-color: #4b0082; /* Índigo oscuro */
  --secondary-color: #9932cc; /* Orquídea oscura */
}

.theme-light {
  --main-color: #ffc0cb; /* Rosa claro */
  --secondary-color: #ff69b4; /* Rosa fuerte */
}
